@import './../../../../styles/variables.scss';

.button {
    display: flex;
    align-items: center;
    gap: 0.75em;
    color: white;
    font-weight: 600;
    background-color: $primary-color;
    font-size: 1rem;
    padding: 0.65em 1.5em;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-out;
}


.button:hover {
    color: $primary-color;
    border: 1px solid $primary-color;
    background: transparent;
}
