@import '../styles/_variables.scss';

//___________________________________

.model-create {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  position: relative;
}

.model-create__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.text-container__message{
  font-weight: bold;
  color: $primary-color;
  font-size: $medium-text;
}

.model-create__button {
  position: absolute;
  right: 50px;
  bottom: 75px;
}
