$font-famaly: 'Poppins', sans-serif;
$primary-color: #E7833D;
$secondary-color: #FDF1E9;
$big-text: 1.25rem; //-> 20px
$medium-text: 1rem; //-> 16px
$small-text: 0.8rem; //-> 14px
$placeholder-color: #828285;
$background-color: white;
$error-color: #E20F1F
