<app-list-models
  [displaySelectOrder]="displaySelectOrder"
  [optionOrdering]="optionOrdering"
  [dataButton]="dataButton"
  [messageCreateModel]="messageCreateModel"
  (showFrom)="changeStateFrom()">
</app-list-models>

<!-- cambiar las clases
<ng-template #create>
    <article class="technology">

      <div class="technology__text-container">
        <p class="technology__text">Crea una capacidad</p>
      </div>

      <app-button class="technology__button" [itemButton]="dataButton" (click)="changeStateFrom()"></app-button>

    </article>
</ng-template>-->

  <!-- formulario para crear una capaicdad -->
  <app-form *ngIf="showFrom"
     [titleForm]="titleForm"
     [titleModal]="titleModal"
     [dataInputContent]="dataInputContent"
     [dataAddModel]="dataAddModel"
     [displayContainerAddModel]="displayContainerAddModel"
     (closeForm)="changeStateFrom()">
  </app-form>
