<app-list-models *ngIf="displayContentList; else create"
[displaySelectOrder]="displaySelectOrder"
[optionOrdering]="optionOrdering"
[dataButton]="dataButton"
(displayContent)="changeVisibilityModelList($event)"
(showFrom)="changeStateFrom()">
</app-list-models>

<ng-template #create>
    <article class="technology">

      <div class="technology__text-container">
        <p class="technology__text">Crea una capacidad</p>
      </div>

      <app-button class="technology__button" [itemButton]="dataButton" (click)="changeStateFrom()"></app-button>

    </article>
  </ng-template>
