
@import './../../../../styles/variables.scss';


.link--nav {
  min-width: 200px;
  height: 40px;
  padding-left: 1rem;
  color: $primary-color;
  box-sizing: border-box;
}

.link__a--nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;


  & i {
    font-size: 1.3rem;
  }
}


.link--tabs {
  color: $primary-color;
  padding: 0 1rem;
}

.link__a--tabs {
  font-size: $medium-text
}


