<main class="model-container">
  

  <section class="model-container__order">

    <button class="order__btn" (click)="changeStateDirection()">
      <i [class]="buttonDirection.icon"></i>
      <span>{{ buttonDirection.text }}</span>
    </button>
    
    <app-select 
      [options]="optionSize" 
      (valueOptionSelected)="updateValue(KeyEnum.SIZE, $event)">
    </app-select>
  </section>

  <section class="model-container__list">
    <ul class="list__models" *ngFor="let model of models">
      <li class="models__model" >
        <span class="model__name"> {{ model.name }}</span>
        <p class="model__description"> {{ model.description }}</p>
      </li>
      <button class="models__btn fa-solid fa-ellipsis-vertical "></button>
    </ul>
  </section>


</main>
