@import '../../../../styles/_variables.scss';


.technology {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  position: relative;
}

.technology__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.technology__text{
  font-weight: bold;
  color: $primary-color;
  font-size: $medium-text;
}

.technology__button {
  position: absolute;
  right: 50px;
  bottom: 75px;
}
