

 <!-- <main *ngIf="showContent; else create">
    <section>
      <ul>
        <li *ngFor="let technology of technologies">
          <span> {{ technology.name }}</span>
          <p> {{ technology.description }}</p>
        </li>
      </ul>
    </section>
  </main>
 -->
 <app-list-models *ngIf="displayContentList; else create" (displayContent)="changeVisibilityModelList($event)"></app-list-models>

  <ng-template #create>

    <article class="technology">

      <div class="technology__text-container">
        <p class="technology__text">Crea una tecnología</p>
      </div>

      <app-button class="technology__button" [itemButton]="dataButton" (click)="changeStateFrom()"></app-button>

    </article>
  </ng-template>

  <app-form *ngIf="showFrom"
     [titleForm]="titleForm"
     [titleModal]="titleModal"
     [dataInputContent]="dataInputContent"
     (closeForm)="changeStateFrom()">
  </app-form>






