@import '../../../../styles/_variables.scss';


.technology {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  position: fixed;
}

.technology__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.technology__text{
  font-weight: bold;
  color: $primary-color;
  font-size: $medium-text;
}

.technology__button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.technology__button {
  margin-right: 100px;
}
