<div class="modal">
    <section class="modal__section" *ngIf="!showModelCreate">

        <header class="section__header">
            <h2>{{ titleForm }}</h2>
            <button class="header__button" (click)="onCloseForm()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </header>

        <form class="section__form" [formGroup]="form" (ngSubmit)="onSubmitForm()">

            <div *ngFor="let data of dataInputContent" class="form__container" >
                <label class="container__label"> {{ data.label }} </label>
                <input class="container__input"
                    type="text"
                    [formControlName]="data.controle"
                    [placeholder]="data.placeholder"
                    [ngClass]="{ 'input--invalid': verifyError(data.controle) }"
                    autofocus>

                <div class="alert">
                  <span *ngIf="verifyError(data.controle)" class="alert__message--error fade-in">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    {{ this.validationService.getErrorMessage(data.controle, form)}}
                  </span>
                </div>
            </div>

            <section  *ngIf="displayContainerAddModel" class="form__container form__container--select">

                <label class="container__label">{{dataAddModel.label}}</label>

                <div class="container__model fade-in" *ngIf="hasModelSelect()">
                    <div *ngFor="let model of selectModels" class="model__aggregates">
                        <span class="aggregates">{{ model.name }}</span>
                    </div>
                </div>

                <div class="container__select" (click)="displaySelectContent()">
                    <div class="container__input select__model">
                        <span class="model__placeholder">
                            {{dataAddModel.placeholder}}
                        </span>
                    </div>

                    <div class="select__content" [ngClass]="{ 'show': displaySelect}">
                        <div class="content__option" *ngFor="let model of dataAddModel.content" (click)="onSelectModel(model)">
                            {{ model.name }}
                        </div>
                    </div>
                </div>

                <div class="alert ">
                  <span *ngIf="!isCountModelValid" class="alert__message--error fade-in">
                    <i  class="fa-solid fa-triangle-exclamation"></i>
                    {{ messageModelInvalid }}
                  </span>
                </div>

                <button type="button" class="models__btn fa-regular fa-plus" (click)="displaySelectContent()"></button>

              </section>

            <app-button [itemButton]="itemButton" [disabled]="this.disableButton()"></app-button>
        </form>
    </section>

    <app-modal *ngIf="showModelCreate"
        [titleModal]="titleModal"
        (closeModal)="onCloseModals()">
    </app-modal>
</div>


